@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


html, body {
    background-color: #1d1d1d;
    margin: 0;
    overflow: hidden;
    
}

h2 {
    font-family: "Staatliches", sans-serif;
    font-weight: 100;
    color: #cea212;
    font-size: 60px;
    margin: auto;
}


/*Welcome Component*/
.welcome-container {
    display: flex;
    background-image: url("/images/league-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    border-color: #cea212;
    border-style: double;
    border-width: 8px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    transform: translateY(-120%);
    position: absolute;
}

.center-container {
    width: 65%;
    text-align: center;
}

.center-button {
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Grey Button*/
.grey-button {
    background: #1d1d1d;
    font-family: "Staatliches", sans-serif;
    font-weight: 100;
    color: #cea212;
    border-color: #cea212;
    border-style: solid;
    border-width: 1px;
    padding: 3px 25px 3px 25px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .grey-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cea212;
    border: #1d1d1d solid 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .grey-button:hover,
  .grey-button:focus,
  .grey-button:active {
    color: #1d1d1d;
  }
  
  .grey-button:hover:before,
  .grey-button:focus:before,
  .grey-button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* Main Page */
  .mainpage-container {
    padding-top: 3px;
    transform: translateY(0%);
    position: absolute;
  }

  /* Main Header */
  .mainheader-container {
    background-image: url("/images/league-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: #cea212 double 8px;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainheader-text {
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
  }

  .mainheader-search {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  .search {
    width: 500px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 7px;
    border: #cea212 solid 3px;
    border-right: none;
  }

  .search:focus {
    outline: thin; 
  }

  

  .search-img-ctn {
    background-color: white;
    border-radius: 7px;
    border: #cea212 solid 3px;
    border-left: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: 7px;
    margin-left: -7px;
  }
  .search-img {
    width: 20px;
    padding-top: 7px;
    
  }

  /* Main Content */
  .maincontent-container {
    height: 60vh;
    border: #cea212 double 8px;
    background-color: white;
  }

  .maincontent-inner {
    margin: 15px 20px 15px 20px;
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*Champion*/
  .round-img {
    border-radius: 50%;
    width: 125px;
  }

  .champion-container {
    width: 260px;
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .champion-name {
    width: 100%;
    text-align: center;
  }

  .champion-img {
    width: 100%;
    text-align: center;
    margin-top: -15px;
  }

  .champion-button {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  h3 {
    font-family: "Staatliches", sans-serif;
    font-size: 23px;
    font-weight: 100;
  }

  /*Champion Card*/
  .championcard-container {
    margin: auto;
    background: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    height: 100vh;
    border-color: #cea212;
    border-style: double;
    border-width: 8px;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    transform: translateX(-120%);
  }

  .home-button {
    margin-top: 10px;
  }

  .home-button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: center;
  }

  .home-arrow {
    width: 50px;
    height: 50px;
    border: #cea212 solid 5px;
    border-radius: 50%;
    background-image: url("/images/arrow.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    background-color: #0000;
    transform: rotate(-90deg);
  }

  .home {
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #cea212;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
  }

  .home-arrow:hover {
    border-color: #dfc983;
    background-image: url("/images/arrowhover.png");
  }

  .full {
    flex-grow: 4;
  }

  .championcard-title {
    text-align: center;
    margin-bottom: -5px;
    margin-top: -35px;
  }

  .championcard-subtitle {
    text-align: center;
    margin-top: -5px;
    padding-bottom: 10px;
  }

  h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 100;
    color: #cea212;
    font-size: 40px;
    margin: auto;
  }

  .championcard-bio-button {
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
  }

  .arrow-button {
    background-image: url("/images/arrow.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 25px;
    height: 25px;
    background-color: #0000;
    border: none;
  }

  .arrow-button:hover {
    background-image: url("/images/arrowhover.png");
  }

  .down {
    transform: rotate(90deg);
  }

  h4 {
    font-family: "Roboto", sans-serif;
    color: #cea212;
    font-size: 18px;
    margin: auto;
    padding-bottom: 5px;
  }

  /*Champion Info*/
  .championinfo-container {
    height: 50vh;
    background-color: rgba(39, 39, 39, 0.815);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
  }

  .circles-container {
    height: 15px;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .active-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #cea212;
    background-color: #cea212;
    margin: 3px;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #cea212;
    background-color: #0000;
    margin: 3px;
  }

  .champion-details-container {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .arrow-container {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
  }

  .champion-details {
    width: 75%;
  }

  .left {
    transform: rotate(180deg);
  }

  

  /* Champion Bio */
  .info-box {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #C3B68C;
    font-size: 24px;
    line-height: 50px;
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
  }
  
  p {
    padding: 25px;
  }

  .info-h4 {
    margin-bottom: -40px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2a2a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 59, 59);
  }

@media screen and (max-width: 978px) {
    /* Champion Bio */
    .info-box {
      font-size: 18px;
      line-height: 40px;
    }

    p {
      padding: 15px;
    }
}
  
  
@media screen and (max-width: 560px) {
    /*Main Header*/
    h2 {
      font-size: 60px;
      margin-bottom: -5px;
      margin-top: -5px;
    }

    h1 {
      font-size: 32px;
    }

    /*Chamion Card*/
    .home-arrow {
      width: 40px;
      height: 40px;
      background-position-x: 8px;
      margin-left: -25px;
      margin-top: -5px;
    }
  
    .home {
      font-size: 0;
    }

    .championcard-title {
      margin: 0;
    }

    .championcard-subtitle {
      padding-bottom: 5px;
    }

    h4 {
      font-size: 18px;
    }

    .search{
      width: 225px;
      height: 30px;
    }

    .search-img {
      width: 10px;
    }

    /*Champion Info*/
    .championinfo-container {
      height: 65vh;
    }

   

    

    

    
  
    

   
    /*Champion Card*/
    .championcard-container {
      background: url(http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    border-style: solid;
    border-width: 5px;
    width: 100%;
      
    }
  }

  @media screen and (max-width : 450px) {
    .bio-box {
      font-size: 16px;
      line-height: 25px;
    }
  }

 
 

 

  

  

 
  